/*
FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.main {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 3fr;
  margin: 50px auto;
  width: 960px;
  row-gap: 4%;
}
h2 {
  /* 24 / 30 / 36 / */
  font-size: 36px;
  letter-spacing: -0.5px;
}
/*SECTION 1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7%;
}

.header-h1 {
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 44px; /* 44 / 52 / 62 */
  margin-bottom: 4.5%;
}

.header-p {
  margin-bottom: 4.5%;
  font-size: 18px;
  line-height: 1.5;
}
.header-img {
  width: 440px;
}

/*SECTION 2 */
.section-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8%;
}
.section-2--h2 {
  grid-column: 1/-1;
  margin-bottom: 5%;
}
.section-2--part-1-p-1 {
  margin-bottom: 10%;
  font-size: 20px;
}
.features-text {
  font-size: 18px;
  line-height: 1.5;
}
/*SECTION 3 */
.section-3 {
  display: flex;
  align-items: flex-start;
  gap: 8%;
}
.section-3--img {
  width: 28%;
}
.section-3--div {
  align-self: center;
}
.section-3--h2 {
  margin-bottom: 3%;
  font-size: 30px;
}
blockquote {
  margin-bottom: 3%;
  font-size: 18px;
  font-style: italic;
}
/*SECTION 4 */
.section-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8%;
}
.section-4--h2 {
  grid-column: 1/-1;
  align-self: center;
}
.section-4--part-img {
  width: 100%;
  margin-bottom: 10%;
}
.section-4--part-ul {
  padding: 0 9.5%;
}
.section-4--part-ul li:first-child {
  font-weight: bold;
  font-size: 20px;
}
.section-4--part-ul li {
  margin-bottom: 10%;
  font-size: 18px;
}
.section-4--price {
  display: flex;
  justify-content: space-between;
}
.section-4--price p {
  font-weight: bold;
  font-size: 20px;
  padding-left: 25px;
}
footer {
  font-size: 14px;
}
a:link,
a:visited,
a:focus,
a:hover {
  color: blue;
  text-decoration: underline;
}

.section-4--price a:link,
.section-4--price a:visited,
.section-4--price a:focus,
.section-4--price a:hover {
  font-size: 18px;
}
